<div class="list-group list-view-pf list-view-pf-equalized-column">
  <div class="list-group-item">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="pficon pficon-ok list-view-pf-icon-md list-view-pf-icon-success"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event One
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>108</strong> Hosts
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong>28</strong> Clusters
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="pficon pficon-info list-view-pf-icon-md list-view-pf-icon-info"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event One
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>8</strong> Hosts
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong>28</strong> Clusters
          </div>
        </div>
      </div>
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight2" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="porcelli-expansion">
      <button type="button" class="close">
        <span class="pficon pficon-close"></span>
      </button>
      Coloca aqui a imagem
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="pficon pficon-warning-triangle-o list-view-pf-icon-md list-view-pf-icon-warning"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event One
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>108</strong> Hosts
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong>28</strong> Clusters
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="pficon pficon-error-circle-o list-view-pf-icon-md list-view-pf-icon-danger"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event One
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>8</strong> Hosts
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong>28</strong> Clusters
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Equalize column width
  $(document).ready(function () {
  	var widest = 0;
  	$('.list-view-pf-equalized-column .list-view-pf-additional-info-item').each( function() {
  		widest = $(this).width() > widest ? $(this).width() : widest;
  	}).width(widest);
  });
</script>






  <div class="list-group list-view-pf" data-field="container">

  <div class="list-group-item list-view-pf-stacked">

    <div class="list-view-pf-actions">
        <div class="btn-group">
            <button class="btn btn-default" data-i18n-key="Start">Start</button>
            <button class="btn btn-default" data-i18n-key="Stop">Stop</button>
        </div>
        <button class="btn btn-default" data-i18n-key="Rebuild">Rebuild</button>
        <button class="btn btn-danger" data-i18n-key="Delete">Delete</button>
    </div>

    <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
            <span class="pficon pficon-ok list-view-pf-icon-md list-view-pf-icon-success" data-field="runtime-status"></span>
        </div>
        <div class="list-view-pf-body">
            <div class="list-view-pf-description">
                <div class="list-group-item-heading" data-field="runtime-name" data-i18n-key="_Runtime_1_">
                    Runtime 1
                </div>
                <div class="list-group-item-text" data-i18n-key="_Build_on_6/6/2016_11_45_">
                    Build on 6/6/2016 11:45
                </div>
            </div>
            <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                    <div class="list-view-pf-additional-info-item">
                        <span class="pf pficon-network"></span>&nbsp;&nbsp;<strong data-i18n-key="Pipeline_1">Pipeline 1</strong>
                    </div>
                    <div class="list-view-pf-additional-info-item">
                        <a data-field="runtime-endpoint" href="#" data-i18n-key="http_//localhost.xxx.com/my-app">http://localhost.xxx.com/my-app</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="uf-list-item-expansion">
        <button type="button" class="close">
            <span class="pficon pficon-close"></span>
        </button>
        Coloca aqui a imagem
</div>

                </div>
            </div>
