//
// List View
// --------------------------------------------------

div{
//  background-color: rgba(0,0,0,.1)
}

/* UNCOMMENT THIS TO HAVE A IE9 PREVIEW
.list-view-pf-item, .list-view-pf-summary, .list-view-pf-aditional-info{
  display: block!important;
}
.list-view-pf-main-info{
  display: table-row!important;
}

.list-view-pf-aditional-info-item{
  display: inline-block!important;
}

.list-view-pf-body {
  display: table-cell!important;
  width: 10000px;
}
*/

.list-view-pf{
  margin-bottom: 20px; //do we usually do this to separet components?
  .dropdown {
    margin: -11px 0px -12px 12px;
    .btn-link {
      color: @gray-darker;
      font-size: (@font-size-base + 4);
      line-height: 1;
      padding: 13px 5px 13px 5px;
      &:active,
      &:focus,
      &:hover {
        color: @link-color;
      }
    }
    .dropdown-menu {
      right: -15px;
      &:before {
        border-right: 11px solid transparent;
        border-bottom: 11px solid #ccc;
        border-left: 11px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
        display: inline-block;
        position: absolute;
        right: 11px;
        top: -11px;
      }
      &:after {
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
        border-left: 10px solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -10px;
      }
    }
  }
}

.list-view-pf-item{
  &:hover{
   background-color: #ededed;
   cursor: pointer;
  }
  &.active{
    background: #def3ff;
  }
  .clearfix(); //IE9 fallback
  display: flex;
  align-items: flex-start;
  padding: 20px 15px;
  border-bottom: 1px solid #ececec;
  @media (min-width: @screen-md-min) {
    align-items: center;
  }
}

.list-view-pf-checkbox{
  float: left; //IE9 fallback
  padding: 3px 10px 3px 0;
  margin-right: 15px;
  border-right: 1px solid #d1d1d1;
  .list-view-pf-top &{
    align-self: flex-start;
  }
}

.list-view-pf-main-info{
  display: flex;
  align-items: flex-start;
  flex: 1;
  @media (min-width: @screen-md-min) {
    align-items: center;
    .list-view-pf-top &{
      align-items: flex-start;
    }
  }
}

.list-view-pf-left{
  display: table-cell; //IE9 fallback
  vertical-align: top; //IE9 fallback
  padding-right: 20px;
  text-align: center;
  .pficon, .fa{
    border-radius: 50%;
    font-size: 2em;
    &.list-view-pf-icon-sm {
      border: 2px solid #39a5dc;
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 1.4em;
    }
    &.list-view-pf-icon-lg {
      height: 60px;
      width: 60px;
      line-height: 60px;
      background-color: #ededed;
    }
    &.list-view-pf-icon-md {
      height: 50px;
      width: 50px;
      line-height: 50px;
      background-color: @alert-success-bg;
      color: @alert-success-border;
    }
  }
  .list-view-pf-calendar{
    line-height: 1em;
    font-size: @font-size-small;
    strong{
      font-weight: 300;
      display: block;
      line-height: 1em;
      font-size: (@font-size-h2 * 2);
    }
  }
}

.list-view-pf-body {
  display: table-cell; //IE9 fallback
  vertical-align: top; //IE9 fallback
  align-items: center;
  flex: 1;
  @supports not (display: flex){
    width: 10000px; // IE9 fallback, it extends the cell to size of the container
  }
  @media (min-width: @screen-md-min) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


.list-view-pf-summary{
  flex: 1 0 55%;
  .list-view-pf-two-line &{
    display: block;
  }
  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
    float: left; //IE9 fallback
    width: 55%; //IE9 fallback
//    .list-view-pf-two-line &{
//      width: 50%; //IE9 fallback
//      flex: 1 0 50%;
//    }
  }
}

.list-view-pf-title{
  font-weight: 600;
  font-size: @font-size-h3;
  small{
    display: block;
    margin-top: 5px;
    font-size: (@font-size-base * 0.8);
  }
  @media (min-width: @screen-md-min) {
    font-size: @font-size-base;
    flex: 1 0 calc(~'25% - 20px');
    margin: 0 20px 0 0;
    width: calc(~'25% - 20px');  // IE9 fallback
    float: left; // IE9 fallback
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    .list-view-pf-two-line &{
      width: auto;// IE9 fallback
      float: none;// IE9 fallback
      margin-right: 40px;
      font-size: @font-size-h3;
      line-height: 1.1em;
      margin-bottom: 5px
    }
  }
}

.list-view-pf-description{
  margin-bottom: 10px;
  @media (min-width: @screen-md-min) {
    flex: 1 0 auto; // it covers whats left from the title
    margin: 0 40px 0 0;
    width: calc(~'75% - 40px'); // IE9 fallback
    float: left; // IE9 fallback
    .list-view-pf-two-line &{
      width: auto;
      float: none;
    }
  }
}

.list-view-pf-aditional-info{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: @screen-md-min) {
    flex: 1 0 auto; // it covers whats left from summary
    width: 45%; // IE9 fallback
    float: left; // IE9 fallback
    .list-view-pf-two-line &{
//      width: 50%;// IE9 fallback
    }
  }
}


.list-view-pf-aditional-info-item{
  align-items: center;
  display: inline-block;
  display: flex;
  margin-right: 20px;
  text-align: center;
//see if I need this for IE vertical-align: middle;
  strong{
    font-size: @font-size-h3;
    font-weight: 600;
    margin-right: 5px;
  }
  .pficon, .fa{
    font-size: @font-size-h3;
    margin-right: 10px;
  }
  &.list-view-pf-aditional-info-item-column{
    flex-direction: column;
    text-align: center;
    strong{
      font-size: @font-size-h5;
      line-height: 1em;
    }
  }
  &:last-child{
    margin-right: 0;
  }
}

.list-view-pf-actions{
  order: 2;
  float: right; // IE9 fallback
//see later  margin-top: 2px;
  margin-left: 20px;
    button{
    margin-left: 10px;
  }
}
